
// mixins
@mixin center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@mixin absolute {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

//0TB

// colours
$transparent: rgba(255, 255, 255, 0);
$color-black: #000;
$color-white: #fff;

$color-primary: #000;
$color-secondary: #d5bd96;

// custom colours
$color-background: #161410;
$color-container: lighten($color-background, 80%);
$color-container-background: #1C4255;

// sizes
$c-width: 1550px;
$c-height: 800px;

// margin
$margin: 24px;
$margin-v: 6%;
$margin-h: 4%;

// fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Ubuntu:500|Anton|Montserrat|Catamaran:400,700|Rubik|Lato|Oswald|Bitter:400,700|Open+Sansa|Roboto+Condensed:700|Lato|Prata');

// interaction timings
// title transitions
$title-t: 1s cubic-bezier(0.23, 1, 0.32, 1);
$title-t-i: .5s;
$title-color-t: color .6s;
$el-t-d: 1s 1.6s;
// nav
$menu-t: .7s cubic-bezier(0.215, 0.61, 0.355, 1);
$menu-text-header-t: color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.2s cubic-bezier(0.23, 1, 0.32, 1) .2s;
$menu-text-t: color 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform .8s cubic-bezier(0.23, 1, 0.32, 1);
$menu-text-t-b: .5s;
$menu-text-t-e: .2s;
$nav-hover: left .4s cubic-bezier(0.215, 0.61, 0.355, 1);
// menu button
$menu-button-t: .5s cubic-bezier(0.215, 0.61, 0.355, 1) .3s;
// cursor
$cursor-expand-t: .5s cubic-bezier(0.215, 0.61, 0.355, 1);
// service hover
$service-hover: top .4s cubic-bezier(0.215, 0.61, 0.355, 1);

// hide all scroll bars
::-webkit-scrollbar {
	display: none;
}

// background animation
canvas {
	@include center;
	width: $c-width;
	height: $c-height;
	z-index: -10;
	overflow: hidden;
}

.custom-mouse {
	pointer-events: none;

	#cursor {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;

		&:before {
			content: '';
			position: absolute;
			top: -6px;
			left: -6px;
			border-radius: 50%;
			width: 0%;
			height: 0%;
			border: solid $color-white 6px;
			transition: $cursor-expand-t;
			opacity: 0;
		}

		&.active {
			&:before {
				opacity: 1;
				transition: opacity 1.25s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
			}
		}

		&.end {
			&:before {
				opacity: 0;
				transition: opacity 1.25s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
			}
			
		}

		&.black,
		&.menu {
			&:before {
				border: solid $color-primary 6px;
			}
		}

		&.expand {
			&:before {
				border: solid $color-white 1px;
				top: -20px;
				left: -20px;
				width: 40px;
				height: 40px;
				transition: $cursor-expand-t;
			}

			&.black {
				&:before {
					border: solid $color-primary 1px;
				}
			}
		}
	}
}

body {
	display: block;
	background: $color-background;
}

#conscious {
	@include absolute;
	top: 45%;
	width: 300px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	pointer-events: none;
	
	img {
		@include absolute;
		top: 0;
		width: 100%;
		transition: .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&.active {
		img {
			top: -55px;
			transition: .3s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}

.container {
	@include center;
	overflow: hidden;
	width: $c-width;
	height: $c-height;
	background: rgba(darken($color-black, 20%), .1);
	// cursor: none;

	&.hide {

		* {
			opacity: 0;
			transition: .5s !important;
		}
	}

	z-index: -3;

	&.end {
		* {
			opacity: 0!important;
			transition: opacity 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
			cursor: none !important;
			
		}
	}

	&:after {
		content: '';
		@include absolute;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: none;
	}

	// intro animation
	&.active {
		&:after {
			height: 0%;
			transition: 1s 2s;
		}

		#logo,
		#menu-button {
			opacity: 1;
			transition: $el-t-d;
		}

		#social-icons {

			a {
				text-decoration: inherit;
    			color: inherit;
				cursor: pointer;
				
				i {
					opacity: 1;
					transition: opacity $el-t-d, color $menu-button-t;
				}
			}
		}

		

		#home {

			#title {

				.small,
				.medium {
					.inside {
						transform: translate(0, 0);
					}
				}

				.medium {
					// &:last-child {
					// 	.inside {
					// 		top: 0
					// 	}
					// }
				}

				div {
					&:nth-child(1) {
						.inside {
							transition: $title-t, $title-color-t;
						}
					}
					&:nth-child(2) {
						.inside {
							transition: $title-t $title-t-i, $title-color-t;
						}
					}
					&:nth-child(3) {
						.inside {
							transition: $title-t ($title-t-i * 2), $title-color-t;
						}
					}
					&:nth-child(4) {
						.inside {
							transition: $title-t ($title-t-i * 3), $title-color-t;
						}
					}
					&:nth-child(5) {
						.inside {
							transition: $title-t ($title-t-i * 4), $title-color-t;
						}
					}
					&:nth-child(6) {
						.inside {
							transition: $title-t ($title-t-i + 2.6), $title-color-t;
						}
					}
				}
			}

			.button {
				opacity: 1;
				transition: opacity $el-t-d, color .4s .2s;
			}
		}
	}

	#logo {
		position: absolute;
		top: $margin-v - .5;
		left: $margin-h;
		opacity: 0;
		z-index: 20;
		cursor: pointer;

		img {
			width: 100%;
		}

		&.active {
			opacity: 1;
		}

		&.menu {
			.logo {
				color: rgba($color-black, 1);
				transition: color .5s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}

		.logo {
			color: rgba($color-white, 1);
			font-family: 'Prata', sans-serif;
			font-size: 35px;
			transition: color .5s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}

	

	#menu-button {
		position: absolute;
		top: $margin-v;
		right: $margin-h;
		width: 50px;
		height: 40px;
		z-index: 60;
		opacity: 0;
		cursor: pointer;

		$menu-top: 10px;

		div {
			position: absolute;
			top: 0;
			left: 0;
			background: rgba($color-white, 1);
			width: 90%;
			height: 3px;
			transition: $menu-button-t;

			&:nth-child(1) {
				top: $menu-top;
			}

			&:nth-child(2) {
				top: $menu-top * 2;
			}

			&:nth-child(3) {
				top: $menu-top * 3;
			}
		}

		&.active {

			div {
				background: $color-primary;
				transition: $menu-button-t;
				top: $menu-top + 11px;
				left: 0px;
				width: 80%;

				&:nth-child(1) {
					
					@include rotate(44);
				}
	
				&:nth-child(2) {
					
					opacity: 0;
				}
	
				&:nth-child(3) {
					@include rotate(-44);
				}
			}

			&:before {
				color: $color-black !important;
			}
		}

		&.black {

			div {
				background: $color-primary;
			}

			&:before {
				color: $color-primary;
			}
		}

		&:before {
			content: 'CONTACT';
			position: absolute;
			top: 35%;
			left: -230%;
			width: 100px;
			height: 30px;
			font-family: 'Lato', sans-serif;
			font-size: 13px;
			color: $color-white !important;
			transition: $menu-button-t;
		}
	}

	#page-type-home,
	#page-type-menu,
	#page-type-services {
		position: absolute;
		bottom: $margin-v - 1.75;
		left: $margin-h - .5;
		margin: auto;
		width: 190px;
		height: 20px;
		font-size: 9px;
		font-family: 'Lato', sans-serif;
		color: rgba($color-white, 1);
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		opacity: 0;
		z-index: 60;
		pointer-events: none;
		transition: opacity .7s cubic-bezier(0.215, 0.61, 0.355, 1), color .3s 4s;

		&.active {
			opacity: 1;
			transition: opacity .7s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

		&.hide {
			color: rgba($color-white, 0);
		}
	}

	#page-type-menu {
		color: rgba($color-black, .9);
	}

	#page-type-services {
		color: rgba($color-primary, .9);
	}

	#social-icons {
		position: absolute;
		bottom: $margin-v + 1.5;
		right: $margin-h;
		height: 100px;
		width: 45px;
		text-align: center;
		z-index: 60;

		i {
			display: block;
			position: relative;
			left: 0;
			right: 0;
			margin: auto;
			width: 10px;
			height: 10px;
			font-size: 20px;
			margin-bottom: 35px;
			cursor: pointer;
			color: $color-white;
			opacity: 0;
		}

		&.active {

			i {
				color: $color-primary;
				transition: $menu-button-t;
			}
		}
	}

	#home,
	#services {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#home {

		#title {
			position: absolute;
			top: 30%;
			left: 31%;
			width: 40%;
			height: 60%;
			text-transform: capitalize;
			// text-align: center;
			// font-family: 'Titillium+Web', sans-serif;
			font-family: 'Prata', sans-serif;
			// font-size: 50px;
			font-size: 30px;
			font-weight: 500;
			letter-spacing: 0.5em;
			line-height: 1.1;

			$title-top: 95px;

			.medium {
				letter-spacing: 0.03em;
				// font-family: 'Titillium Web', sans-serif;
				font-size: 75px;
				margin-right: 8px;
				color: rgba($color-white, 1);
				display: inline;
				height: 90px;
				// cursor: pointer;
				transition: color .4s;

				.inside {
					transform: translate(0, 100px);
					transition: color .4s;
				}

				&:hover {
					.inside {
						color: rgba($color-white, 1);
					}
				}

				// &:last-child {
				// 	position: absolute;
				// 	letter-spacing: -0.03em;
				// 	left: -7px;
				// 	font-size: 165px;
				// 	white-space: nowrap;
				// 	height: 170px;
				// 	width: 880px;

				// 	.inside {
				// 		top: 170px;
				// 	}
				// }
			}

			> div {
				position: absolute;
				left: 0;
				overflow: hidden;
				width: 575px;
				text-align: center;

				.inside {
					position: absolute;
					width: 100%;
					height: 100%;
				}

				&:nth-child(1) {
					top: 0;
				}

				&:nth-child(2) {
					top: $title-top;
				}

				&:nth-child(3) {
					top: $title-top * 2;
					left: 0px;
				}

				// &:nth-child(4) {
				// 	top: 212px;
				// 	left: 425px
				// }
			}
		}

		$button-h: 60px;

		.button {
			position: absolute;
			bottom: 21%;
			left: 0;
			right: 0;
			margin: auto;
			width: 220px;
			height: 52px;
			line-height: 52px;
			border: #fff solid 1px;
			color: #fff;
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-size: 14px;
			letter-spacing: 0.06em;
			text-align: center;
			border-radius: 2px;
			cursor: pointer;
			opacity: 0;
			z-index: 1;
			overflow: hidden;
			transition: color .4s cubic-bezier(0.215, 0.61, 0.355, 1) .08s;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: -100%;
				@include rotate(-17deg);
				background: $color-white;
				width: 100%;
				height: 160%;
				transition: left .5s cubic-bezier(0.215, 0.61, 0.355, 1);
				z-index: -1;
			}

			&:hover {
				color: $color-primary;
				transition: color .4s cubic-bezier(0.215, 0.61, 0.355, 1) .08s;

				&:after{
					left: 0%;
					transition: left .5s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
			}
		}
	}

	#services {
		height: 0;
		background: darken($color-white, .1);
		z-index: 2;
		overflow: hidden;
		transition: $menu-t;

		&.active {
			height: 100%;
			transition: $menu-t;
		}

		.inner {
			position: absolute;
			top: 0;
			width: 100vw;
			height: 100vh;

			.page-title {
				position: absolute;
				top: 23%;
				left: 0%;
				width: 100%;
				text-align: center;
				letter-spacing: -0.02em;
				font-family: 'Titillium Web', sans-serif;
				font-size: 75px;
				margin-right: 8px;
				color: rgba($color-primary, 1);
				display: inline;
				height: 70px;
				pointer-events: none;
			}

			$circle-size: 280px;

			.services {
				position: absolute;
				top: 41%;
				left: 0;
				right: 0;
				margin: auto;
				width: 73%;
				height: 40%;

				.circle {
					position: absolute;
					top: 0%;
					left: 0%;
					width: $circle-size;
					height: $circle-size;
					border-radius: 50%;
					background: $color-primary;
					cursor: pointer;
					transition: $service-hover;

					&:hover {
						top: -3%;
						transition: $service-hover;
					}

					.text {
						@include center;
						width: 72%;
						height: 20%;
						line-height: 1.1;
						color: rgba($color-white, 1);
						letter-spacing: -0.02em;
						font-family: 'Titillium Web', sans-serif;
						font-size: 26px;
						text-align: center;
					}

					&:nth-child(2) {
						left: 26%;
					}

					&:nth-child(3) {
						left: auto;
						right: 26%;
					}

					&:nth-child(4) {
						left: auto;
						right: 0;
					}

				}

				// svg {
				// 	position: absolute;
				// 	top: 0%;
				// 	left: 12%;
				// 	fill: #f06;
				// 	fill: url(#MyGradient);
				// 	width: $svg-size;
				// 	height: $svg-size;
				// 	cursor: pointer;

				// 	&:nth-child(2) {
				// 		left: 12% * 3.5;
				// 	}

				// 	&:nth-child(3) {
				// 		left: 12% * 6;
				// 	}
				// }

				
			}
			
			
		}
	}

	#full-page-menu {
		position: absolute;
		top: 0;
		width: 0%;
		height: 100%;
		background: lighten($color-secondary, 10%);
		overflow: hidden;
		z-index: 5;
		transition: $menu-t;

		.inner {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: $c-width;

			&:before {
				content: '- Menu';
				position: absolute;
				top: 28%;
				left: -376px;
				margin: auto;
				width: 32%;
				height: 57%;
				font-family: 'Prata', sans-serif;
				font-size: 30px;
				color: rgba(0, 0, 0, 0.9);
				z-index: -1;
				pointer-events: none;
				transform: rotate(90deg);
			}

			.big-c {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				height: 100%;
				width: 300px;
				
				img {
					height: 100%;
				}
			}

			#nav {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 70%;
				background: lighten($color-secondary, 12%);
				border-left: solid 3px rgba($color-black, .1);

				.box {
					position: absolute;
					top: 0;
					left: 3%;
					width: 40%;
					height: 50%;

					&._1,
					&._2 {
						> div {
							top: 52%;
						}
					}

					&._2 {
						left: 40%;
					}

					&._3,
					&._4 {
						top: 52%;
						> div {
							top: 15%;
						}
					}

					&._4 {
						left: 40%;
					}

					div {
						> div {
							font-family: 'Lato', sans-serif;
							color: $color-black;
							text-transform: uppercase;
						}
					}

					> div {
						position: absolute;
						left: 20%;
					}

					.header {	
						font-size: 28px;
						width: 250px;
						height: 34px;
						cursor: pointer;
						overflow: hidden;

						.inside {
							position: absolute;
							color: rgba($color-black, 1);
							font-family: 'Prata', sans-serif;
							transform: translate(0, 38px);
							transition: 0s .7s;	
							left: 0;

							&:hover {
								left: 4px;
							}
						}
					}

					.items {
						
						.item {
							position: absolute;
							top: 0;
							height: 18px;
							width: 200px;
							font-size: 16px;
							cursor: pointer;
							margin-top: 12px;
							overflow: hidden;

							$item-b: 40px;
							$item-e: 30px;

							&:nth-child(1) {
								top: $item-b;
							}

							&:nth-child(2) {
								top: $item-b + ($item-e);
							}

							&:nth-child(3) {
								top: $item-b + ($item-e * 2);
							}

							&:nth-child(4) {
								top: $item-b + ($item-e * 3);
							}

							&:nth-child(5) {
								top: $item-b + ($item-e * 4);
							}

							.inside {
								position: absolute;
								transform: translate(0, 16px);
								left: 0;
								transition: 0s .7s;

								&:hover {
									left: 4px;
								}
							}
						}
					}
				}

				&.active {
					.box {
						.header {
							.inside {
								transform: translate(0, 0px);
								transition: $menu-text-header-t, $nav-hover;
							}
						}
						.items {
							.item {
								.inside {
									transform: translate(0, 0px);
								}
								&:nth-child(1) {
									.inside {
										transition: $menu-text-t $menu-text-t-b, $nav-hover;
									}
								}
								&:nth-child(2) {
									.inside {
										transition: $menu-text-t $menu-text-t-b + ($menu-text-t-e), $nav-hover;
									}
								}
								&:nth-child(3) {
									.inside {
										transition: $menu-text-t $menu-text-t-b + ($menu-text-t-e * 2), $nav-hover;
									}
								}
								&:nth-child(4) {
									.inside {
										transition: $menu-text-t $menu-text-t-b + ($menu-text-t-e * 3), $nav-hover;
									}
								}
								&:nth-child(5) {
									.inside {
										transition: $menu-text-t $menu-text-t-b + ($menu-text-t-e * 4), $nav-hover;
									}
								}
								&:nth-child(6) {
									.inside {
										transition: $menu-text-t $menu-text-t-b + ($menu-text-t-e * 5), $nav-hover;
									}
								}
								&:nth-child(6) {
									.inside {
										transition: $menu-text-t $menu-text-t-b + ($menu-text-t-e * 6), $nav-hover;
									}
								}
								
							}
						}
					}
				}
			}
		}

		&.show {
			width: 100%;
			transition: $menu-t;
		}

		&.hide {
			width: 0%;
			left: auto;
			right: 0;
			transition: $menu-t;

			.inner {
				left: auto;
				right: 0;
			}
		}
	}
}